@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-family: 'Inter', sans-serif;
  background-color: #000;
  color: #FFFFFF;
}

.wallet-adapter-button-trigger {
  background: transparent !important;
  border-radius: 8px !important;
  border: 1px solid #A855F7 !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
